<div class="content-wrapper">

  <div id='resistance'>
    <h3>Resistance: {{ resistance }}</h3>
  </div>

  <div id='message'>{{ message }}</div>

  <div class="dropdown-group">
    <!-- Digits -->
    <h5>Digits:</h5>
    <select id='dropdown' [(ngModel)]='selectedColors[0]' (ngModelChange)="updateSelectedColors()">
      <option value="">Select color</option>
      <option *ngFor="let color of digitColorCode" [value]="color">{{ color }}</option>
    </select>
    <select id='dropdown' [(ngModel)]='selectedColors[1]' (ngModelChange)="updateSelectedColors()">
      <option value="">Select color</option>
      <option *ngFor="let color of digitColorCode" [value]="color">{{ color }}</option>
    </select>
    <select id='dropdown' [(ngModel)]='selectedColors[2]' (ngModelChange)="updateSelectedColors()">
      <option value="">Select color</option>
      <option *ngFor="let color of digitColorCode" [value]="color">{{ color }}</option>
    </select>
  </div>

  <div class="dropdown-group">
    <!-- Multiplier -->
    <h5>Multiplier:</h5>
    <select id='dropdown' [(ngModel)]='selectedColors[3]' (ngModelChange)="updateSelectedColors()">
      <option value="">Select color</option>
      <option *ngFor="let color of multiplierColorCode" [value]="color">{{ color }}</option>
    </select>
  </div>

  <div class="dropdown-group">
    <!-- Tolerance -->
    <h5>Tolerance:</h5>
    <select id='dropdown' [(ngModel)]='selectedColors[4]' (ngModelChange)="updateSelectedColors()">
      <option value="">Select color</option>
     <option *ngFor="let color of toleranceColorCode" [value]="color">{{ color }}</option>
    </select>
  </div>

</div>
